In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [27]:
# create a dataframe
df1 = DataFrame({"城市":["北京","上海","广州"], "人口":[1000,2000,1500]}, index=['A','B','C'])

In [28]:
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [24]:
df1['GDP'] = Series([1000,2000,1500])
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  1500  NaN

In [25]:
df1['GDP'] = Series([1000,2000,1500], index=['A','B','C'])

In [26]:
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

In [29]:
gdp_map = {
    '北京':1000,
    '上海':2000,
    '广州':1500,
}

In [30]:
df1['GDP'] = df1['城市'].map(gdp_map)
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500

In [25]:
# replace in series

In [31]:
s1 = Series(np.arange(10))

In [32]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [33]:
s1.replace([1,2,3], [10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64

In [34]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32