In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [11]:
df1 = DataFrame({'key':['X','Y','Z'], 'data_set_1':[1,2,3]})

In [12]:
df1

  key  data_set_1
0   X           1
1   Y           2
2   Z           3

In [13]:
df2 = DataFrame({'key':['A','B','C'], 'data_set_2':[4,5,6]})

In [14]:
df2

  key  data_set_2
0   A           4
1   B           5
2   C           6

In [15]:
pd.merge(df1,df2)

Empty DataFrame
Columns: [key, data_set_1, data_set_2]
Index: []

In [19]:
df2 = DataFrame({'key':['X','B','C'], 'data_set_2':[4,5,6]})

In [21]:
pd.merge(df1,df2)

  key  data_set_1  data_set_2
0   X           1           4

In [23]:
df1 = DataFrame({'key':['X','Y','Z','X'], 'data_set_1':[1,2,3,4]})

In [24]:
pd.merge(df1,df2)

  key  data_set_1  data_set_2
0   X           1           4
1   X           4           4

In [26]:
pd.merge(df1,df2,on=None)

  key  data_set_1  data_set_2
0   X           1           4
1   X           4           4

In [27]:
pd.merge(df1,df2,on='data_set_1')

KeyError: 'data_set_1'

In [33]:
pd.merge(df1,df2, on='key',how='inner')

  key  data_set_1  data_set_2
0   X           1           4
1   X           4           4

In [34]:
pd.merge(df1, df2, on='key', how='left')

  key  data_set_1  data_set_2
0   X           1         4.0
1   Y           2         NaN
2   Z           3         NaN
3   X           4         4.0

In [35]:
pd.merge(df1,df2, on='key', how='right')

  key  data_set_1  data_set_2
0   X         1.0           4
1   X         4.0           4
2   B         NaN           5
3   C         NaN           6

In [36]:
pd.merge(df1,df2, on='key', how='outer')

  key  data_set_1  data_set_2
0   X         1.0         4.0
1   X         4.0         4.0
2   Y         2.0         NaN
3   Z         3.0         NaN
4   B         NaN         5.0
5   C         NaN         6.0

In [37]:
import webbrowser

In [38]:
webbrowser.open('https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html')

True